mixin head(analytics)
  head
    title this.
    meta(charset='utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Lato:100,100i,300,400')
    if analytics
      script(src='/analytics/ga.js')
